
.header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: #002171;
  color: white;
  align-items: center;
}

.header img {
height: 100px;
}
li {
  display: inline-block;
  font-weight: bold;
}
li+li {
  margin-left: 10px;
}

img {
width: 30%;
height: auto;}
